#avatar {
  width: 256px;
  height: 256px;
  border: 10px solid #67949D;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

#name {
  margin: 0.5em 0; }

#email:before {
  content: url(../img/mail.png);
}

#linkedin:before {
  content: url(../img/linkedin.png);
}

:before {
  padding-right:10px;
  vertical-align: middle;
}

.reveal .contact li {
  list-style-type: none;
  display: block;
}

.reveal .title {
  margin-bottom: 1.1em; }

.reveal .date {
  color: #ccc; }

.imgleft {
  height: 240px;
  float: left; }

.pfloat {
  overflow: hidden; }

.pfloat p {
  padding-left: 20px; }

.clearfix {
  overflow: hidden; }

.reveal .l1 {
  font-size: 2em; }

.reveal .l2 {
  font-size: 1.2em; }

.reveal ul {
  font-size: 0.7em; }

.reveal ul li {
  list-style-type: square;
}
